<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Kimball Goes to Ike&apos;s</string>
		<key>location</key>
		<string>Huang Engineering Center</string>
		<key>startTime</key>
		<date>2014-06-20T19:00:00Z</date>
		<key>endTime</key>
		<date>2014-06-20T20:30:00Z</date>
		<key>latitude</key>
		<real>37.428184</real>
		<key>longitude</key>
		<real>-122.174114</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Last Arts Jam of the Quarter</string>
		<key>location</key>
		<string>Main Lounge</string>
		<key>startTime</key>
		<date>2014-06-10T02:30:00Z</date>
		<key>endTime</key>
		<date>2014-06-10T05:00:00Z</date>
		<key>latitude</key>
		<real>37.425167</real>
		<key>longitude</key>
		<real>-122.161843</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Café Night</string>
		<key>location</key>
		<string>Lobby</string>
		<key>startTime</key>
		<date>2014-06-15T03:00:00Z</date>
		<key>endTime</key>
		<date>2014-06-15T05:00:00Z</date>
		<key>latitude</key>
		<real>37.42501</real>
		<key>longitude</key>
		<real>-122.161894</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hike the Dish</string>
		<key>location</key>
		<string>Dish</string>
		<key>startTime</key>
		<date>2014-06-16T16:00:00Z</date>
		<key>endTime</key>
		<date>2014-06-16T18:00:00Z</date>
		<key>latitude</key>
		<real>37.417725</real>
		<key>longitude</key>
		<real>-122.17484</real>
	</dict>
</array>
</plist>
